@{
    ViewData["Title"] = "Confirm email";
}

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="~/lib/css/bootstrap.css" />
    <!-- Custom fonts for this template-->
    <link href="~/lib/css/all.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-body">
            Thank you for confirming your email.
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="~/lib/js/jquery.js"></script>
<script type="text/javascript" src="~/lib/js/bootstrap.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/lib/js/jquery.easing.js"></script>
</body>
</html>
 