@{
    Layout = null;
    ViewData["Title"] = ViewBag.title;
}

<h2>@ViewBag.title</h2>
<input type="hidden" id="cpgScenarioID" value="@ViewBag.scenarioID" />
<input type="hidden" id="cpgPreviousRow" name="cpgPreviousRow" value="-1" />
<table id="cpgTable" class="display compact" style="width:100%;">
    <thead>
        <tr>
            <th>Id</th>
            <th>ScenarioID</th>
            <th style="width:70%">Name</th>
            <th style="width:10%">Number Of Zones Above Ideal</th>
            <th style="width:10%">Number Of Zones Below Ideal</th>
            <th style="width:10%">Zone Weights Offset</th>
        </tr>
    </thead>    
</table>
<div id="cpgDetailShowModal"></div>

<script>
    $.getScript("/js/ChannelZone/ChannelPolicyGroup.js");
</script>
