@using RBAT.Logic
@inject DropDownService Options
@{
    ViewData["Title"] = ViewBag.title;
}

<input type="hidden" id="czScenarioID" value="@ViewBag.scenarioID" />
<div class="row">
    <div id="scenarioID" class="col-sm-12" style="margin-top: 10px">
        <div class="col-sm-12">
            @if (@ViewBag.scenarioID != null)
            {
                <label for="scenarioList">Scenarios:</label>
                @Html.DropDownList("ScenarioID",
                    Options.ListScenarios((int)@ViewBag.projectID).Select(c => new SelectListItem() { Text = c.Name.ToString(), Value = c.Id.ToString(), Selected = @ViewBag.scenarioID == c.Id }),
                    null, new { @onchange = "scenarioChanged()" })
            }
        </div>
    </div>
</div>
<div class="row">
    <div id="channelPolicyGroupDiv" class="col-sm-8">
    </div>
    <div id="channelPolicyGroupChannelDiv" class="col-sm-4">
    </div>
</div>
<hr />
<div class="row">
    <div id="channelZoneWeightDiv" class="col-sm-12">
    </div>
</div>
<hr />
<div class="row">
    <div id="channelZoneLevelDiv" class="col-sm-12">
    </div>
</div>

<script>
    $.getScript("/js/ChannelZone/ChannelZone.js");
</script>