@{
    Layout = null;
}

<h2>@ViewBag.title</h2>

<input id="nodePolicyGroupId" name="nodePolicyGroupId" type="hidden" value="@ViewBag.nodePolicyGroupId" />
<div class="row">
    <div id="zaravnanjeID" class="col-sm-12" style="margin-top: 96px">
      
    </div>
</div>
<table id="npgnTable" class="display compact" style="width: 100%">
    <thead>
        <tr>
            <th>NodeId</th>
            <th style="width:15%">Assigned</th>
            <th style="width:65%">Name</th>
            <th style="width:20%">Node Type</th>

        </tr>
    </thead>    
</table>

<script>
    $.getScript("/js/NodePolicyGroup/NodePolicyGroupNode.js");
</script>
