<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="Log\internallog.txt">
  <targets>
    <target xsi:type="File" name="alllogfile" fileName="c:\Log\${shortdate}_all_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>
    <target xsi:type="File" name="solverresultsfile" fileName="c:\Log\solver_results.txt"
          layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>
    <target xsi:type="File" name="errorlogfile" fileName="c:\Log\${shortdate}_error_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>
    <!--<target name="gmail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="email"
            smtpPassword="Password"
            enableSsl="true"
            from="rbat@gmail.com"
            to="mare.ignjatovic@gmail.com"
            layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>
          />-->
    <target xsi:type="NLogViewer"
             name="viewer"
             address="udp://127.0.0.1:9999" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="viewer" />
    <logger name="*" minlevel="Debug" writeTo="alllogFile" />
    <logger name="*" minlevel="Error" writeTo="errorlogFile" />
    <logger name="RBAT.Logic.SolverService" minlevel="Debug" writeTo="solverresultsfile" />
  </rules>
</nlog>